/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.app_container{
    width: 60%;
    margin: auto;
    padding: 50px 0;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
ul{
    list-style-type: none;
}


/* INPUTS */
.inputs{
    text-align: center;
}
.inputs > *{
    margin: 20px 10px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}
.inputs input{
    min-width: 300px;
}
.inputs button{
    cursor: pointer;
}


/* LIST */
.single_task{
    padding: 15px;
    background-color: lightgray;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.single_task div{
    display: inline-block;
}
div.done{
    text-decoration: line-through;
}
.single_task i{
    float: right;
}
.single_task i:hover{
    color: red;
}